@use '../../partials/typography'as *;

.my-learning-page {

  &__headline {
    @include m-h1;
    margin-bottom: 1rem;
  }

  &__sub {
    margin-bottom: 2rem;
  }

  &__sub-link {
    color: color(global-orange)
  }
}

.my-learning-page-card {
  position: relative;
  box-shadow: 0 2px 16px rgba(13, 12, 34, .1);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include m-h2;
  }

  &__date {
    @include m-p2;
  }
}