@use '../../partials/mixins'as *;
@use '../../partials/typography'as *;

/* editor icons */
.course-editor-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}

.course-editor-icons-container {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }

  &__button-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color(matching-pink);
  }

  &__button {
    color: color(matching-pink);
  }

  &__text {
    color: color(global-black);
  }

  &--active {

    &>.course-editor-icons-container__button-container {
      background-color: color(matching-pink);
    }

    &>.course-editor-icons-container__button-container>.course-editor-icons-container__button {
      color: color(global-white) !important;
    }

    &>.course-editor-icons-container__text {
      font-weight: bold !important;
    }

    &:first-of-type {
      margin-right: 1rem;
    }
  }


}