@use '../../partials/mixins'as *;
@use '../../partials/typography'as *;

/* editor icons */

.course-editor-with-icons {

  &__title {
    margin-bottom: 1rem !important;
  }
}

.course-editor-with-icons-navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}

.course-editor-with-icons-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem !important;

  &__text-container {
    display: flex;
    align-items: center;
  }

  &__back-icon-link {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
  }

  &__back-icon {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  &__horiz-icon {
    cursor: pointer;
  }
}

.course-editor-with-icons-container {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }

  &__button-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color(matching-pink);
  }

  &__button {
    color: color(matching-pink);
  }

  &__text {
    color: color(global-black);
  }

  &--active {

    &>.course-editor-with-icons-container__button-container {
      background-color: color(matching-pink);
    }

    &>.course-editor-with-icons-container__button-container>.course-editor-with-icons-container__button {
      color: color(global-white) !important;
    }

    &>.course-editor-with-icons-container__text {
      font-weight: bold !important;
    }

    &:first-of-type {
      margin-right: 1rem;
    }
  }


}