@use './partials/resets';
@use './partials/mixins'as *;
@use './partials/variables'as *;

.app {
  padding: $mobile-padding;

  @include tablet {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: $tablet-padding;
  }

  @include desktop {
    width: 80%;
    padding: $desktop-padding;
  }
}

.main-container {

  @include tablet {
    flex: 0 65%;
    padding-top: 1rem;
  }

  @include desktop {
    flex: 0 80%;
    padding-top: 1rem;
  }

}