@use './partials/resets';
@use './partials/mixins'as *;
@use './partials/variables'as *;

.app {
  padding: $mobile-padding;
  margin-top: $app-bar-menu;

  @include tablet {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $tablet-padding;
  }

}

.main-container {

  @include tablet {
    margin-left: $main-drawer-width;
    width: 100%;
  }

}

.Toastify__toast-body {
  color: color(global-white);
}

.Toastify__toast--dark {
  background-color: color(global-black);
}