@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

// .course-landing-page {

// }

.course-landing-page-main {
  margin: 3rem auto 0 auto !important;
  padding: $desktop-padding;
  width: 80%;


  &__title {
    margin-bottom: 1rem !important;
  }
}


.enrollment-modal {

  &__header {
    width: 100%;
    @include m-h1;
    text-align: center;
  }

  &__content {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  &__actions {
    background-color: color(global-black);
    color: color(global-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    outline: none;
    border: none;
    height: 43px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
  }


  &__close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: color(global-white);
    border-radius: 18px;
    border: 1px solid color(borders);
    outline: none;
  }
}


// popup

.popup-content {

  width: 80% !important;
  padding: 1rem !important;
  border-radius: 5px;

  @include tablet {
    width: 50% !important;
    padding: 4rem !important;
  }

}