@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.course-landing-page-description {
  padding: $mobile-padding;
  background-color: color(global-green);
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: $tablet-padding;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  @include desktop {
    padding: $desktop-padding;
  }

  &__title {
    @include m-h1;
    color: color(global-white);
    margin-bottom: 1rem;
  }

  &__text {
    color: color(global-white);
    margin-bottom: 1rem;
  }

  &__button {
    background-color: color(global-black);
    color: color(global-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    outline: none;
    border: none;
    height: 43px;
    border-radius: 5px;
  }
}

.course-landing-page-modules {
  padding: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }
}

.course-landing-page-author {
  padding: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
  }

  @include desktop {
    padding: $desktop-padding;
  }
}

.enrollment-modal {

  &__header {
    width: 100%;
    @include m-h1;
    text-align: center;
  }

  &__content {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  &__actions {
    width: 100%;
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: color(global-white);
    border-radius: 18px;
    border: 1px solid color(borders);
    outline: none;
  }
}