@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.dashboard-page {
  &__title {
    @include m-h1;
    margin-bottom: 1rem;
  }

  &__description {
    @include m-p1;
    margin-bottom: 1rem;

    &--link {
      color: color(global-blue);
    }
  }

  &__useful-links-title {
    @include m-h2;
    margin-bottom: 1rem;
  }
}