@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.edit-course-page {
  max-width: $form-container-max-width-mobile;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;

  @include tablet {
    max-width: $form-container-max-width-tablet;
  }
}

.edit-course-top {
  &__title {
    margin-bottom: 1rem !important;
  }
}


.edit-course-details-form-container {
  display: flex;
  flex-direction: column;

  &__title {
    @include m-h2;
    margin-bottom: 1rem;

  }



  &__dropzone {
    border: 2px dashed color(matching-pink);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__dropzone-text {
    color: color(font-grey);
  }

  &__image-area {
    max-width: 100%;
    width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;

  }

  &__image {
    object-fit: cover;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.edit-course-details-form {
  display: flex;
  flex-direction: column;

  &--no-display {
    display: none;
  }


  &__input-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__input-label {
    display: table;
    clear: both;
    margin-bottom: .5rem;
    font-weight: 600;

  }

  &__input {
    width: 100%;
    outline: none;
    height: 48px;
    border: 1px solid color(dark-grey);
    border-radius: 5px;
    padding: .225rem 1rem 0;
    background: color(global-white);
    margin-bottom: .5rem;

    &::placeholder {
      color: color(darker-grey);
    }

    &--disabled {
      background: color(borders);
    }
  }

  &__input-error {
    color: color(global-red)
  }


  &__text-area {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem 1rem;
    background: color(global-white);
    margin-bottom: .5rem;
    width: 100%;
    resize: vertical;
  }

  &__category {
    outline: none;
    height: 48px;
    border: 1px solid color(dark-grey);
    border-radius: 5px;
    padding: .225rem 1rem 0;
    background: color(global-white);
    margin-bottom: 1rem;
    width: 100%;
  }

  &__button {
    width: 100%;
    background-color: color(global-black);
    padding: 1rem;
    color: color(global-white);
    border-radius: 5px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

    @include tablet {
      width: 250px;
    }

    &--cancel {
      background-color: transparent;
      color: color(global-black);
      border: 1px solid color(global-black);
    }
  }
}