@use '../../../partials/typography'as *;
@use '../../../partials/mixins'as *;

.my-courses-page-card {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;

  @include tablet {
    margin-right: 2rem;

    &:last-of-type {
      margin-right: 0rem;
    }
  }

  &__icon-container {
    position: relative;
  }


  &__image-container {

    @include tablet {
      height: 200px;
      width: 200px;
    }
  }


  &__image {
    object-fit: cover;

    height: 100%;
    width: 100%;
  }

  &__text-container {
    //width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  &__text {
    flex-grow: 1;
  }

  &__text-title {
    word-wrap: break-word;
    font-weight: bold !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: #fff;
    height: 2rem !important;
    border-radius: 4px;
  }
}