@use '../../../partials/typography'as *;


.my-courses-page-card {
  position: relative;
  box-shadow: 0 2px 16px rgba(13, 12, 34, .1);
  padding: 1rem;
  margin-bottom: 1rem;

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include m-h2;
    margin-bottom: .5rem;
  }

  &__date {
    @include m-p2;
  }

  &__collapsible {
    position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
  }

  &__items {
    background-color: color(global-white);
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 115px;
    box-shadow: 0 2px 16px rgba(13, 12, 34, .1);
    padding: 1rem;
    z-index: 1;
  }

  &__item {
    padding: .125rem;
    @include m-p1;
  }
}