@use '../../partials/typography'as *;


.sidebar-container {

  &>.MuiDrawer-paperAnchorDockedLeft {
    // padding: 0 $mobile-padding;
    width: 240px;
    border: none !important;
  }

}

.sidebar {
  margin-right: auto;
  margin-top: $app-bar-menu;
  width: 100%;

  &__icon {
    margin-right: 1rem;
  }
}