@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.header {
  box-shadow: none !important;
  z-index: 1201 !important;
  border-bottom: 1px solid color(borders);
  margin-bottom: 1rem;

  &__logo {
    margin-right: 1rem;
  }
}

.header-public {
  margin-left: auto !important;
}

.header-mobile-menu-container {
  margin-left: auto !important;
}

.header-left-menu-items {
  display: flex;

  &__item {
    margin-right: 1rem;
  }
}

.header-right-menu-items {
  margin-left: auto;
  display: flex;
  align-items: center;

  &__avatar {
    cursor: pointer;
    background-color: color(matching-pink) !important;
  }

  &__create {
    margin-right: 1rem;
    border: 1px solid color(global-blue-main);
    border-radius: 20px;
    padding: .325rem 1rem;
  }
}

.avatar-menu-popover {

  &>.MuiPaper-rounded {
    top: 10px !important;
  }

  &__avatar-container {
    padding: 1rem;
    align-items: center;
  }

  &__avatar {
    cursor: pointer;
  }

  &__name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email {
    width: 200px;
    margin-right: 1rem !important;
    word-break: break-all;
  }
}

.header-mobile-menu {

  &__avatar-container {
    padding: 1rem;
    align-items: center;
  }



  &__name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__email {
    width: 200px;
    margin-right: 1rem !important;
    word-break: break-all;
  }


}