@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.lecture-list-page {
  max-width: $form-container-max-width-mobile;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;

  @include tablet {
    max-width: $form-container-max-width-tablet;
  }
}

.lecture-list-page-container-paper {
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: flex;
    align-items: center;
  }

  &__right-button {
    border-radius: 24px;
    background-color: color(global-blue-main);
    text-align: center;
    padding: 5px 1rem;
    margin-right: 1rem;
  }

  &__right-button-text {
    color: color(global-white);
  }

  &__horiz-icon {
    cursor: pointer;
  }
}