@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;


.mypage-page {
  display: flex;
  flex-direction: column;

  &__title {
    @include m-h1;
    margin-bottom: 1rem;
  }

  &__sub {
    margin-bottom: 2rem;
  }

}

.mypage-page-form-container {
  max-width: $form-container-max-width-tablet;
  width: 100%;
  margin-bottom: 4rem;

  &__dropzone {
    border: 2px dashed pink;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-bottom: 1rem;
    cursor: pointer;
  }


  &__image-area {
    max-width: 100%;
    width: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;

  }

  &__image {
    object-fit: cover;
    margin-bottom: 1rem;
  }
}

.mypage-page-form {
  display: flex;
  flex-direction: column;

  &__input-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__input-label {
    display: table;
    clear: both;
    margin-bottom: .5rem;
    font-weight: 600;

  }

  &__input {
    width: 100%;
    outline: none;
    height: 48px;
    border: 1px solid color(dark-grey);
    border-radius: 5px;
    padding: .225rem 1rem 0;
    background: color(global-white);
    margin-bottom: .5rem;

    &::placeholder {
      color: color(darker-grey);
    }

    &--disabled {
      background: color(borders);
    }
  }

  &__input-error {
    color: color(global-red)
  }


  &__text-area {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem 1rem 0;
    background: color(global-white);
    margin-bottom: .5rem;
    width: 100%;
    resize: vertical;
  }

  &__button {
    width: 100%;
    background-color: color(global-black);
    padding: 1rem;
    color: color(global-white);
    border-radius: 5px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

    @include tablet {
      width: 250px;
    }

    &--cancel {
      background-color: transparent;
      color: color(global-black);
      border: 1px solid color(global-black);
    }
  }
}