@use './fonts';

$base-font-family: "Avenir";
$mobile-padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 2rem;

$color: (global-black: #323232,
    global-white: #FFFFFF,
    borders: #e9e9e9,
    global-green: #3bc371);

@function color($color-name) {
    @return map-get($color, $color-name);
}